.fv-control-feedback {
    top: auto !important;
}

#formSignInContainer {
    margin-top: 100px;
}
#formSignIn {
    margin-top: 20px;
}

.headSignIn {
    text-align: center;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}